<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins|Raleway" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      window.whiteLogoURL = "<%= image_url('Spotify_Icon_White.png') %>"
      window.blackLogoURL = "<%= image_url('Spotify_Icon_Black.png') %>"
      window.searchIcon = "<%= image_url('search-icon.png') %>"
      window.searchIconSelected = "<%= image_url('search-icon-selected.png') %>"
      window.homeIcon = "<%= image_url('home-icon.png') %>"
      window.homeIconSelected = "<%= image_url('home-icon-selected.png') %>"
      window.libraryIcon = "<%= image_url('library-icon.png') %>"
      window.libraryIconSelected = "<%= image_url('library-icon-selected.png') %>"
      window.playBtn = "<%= image_url('btn-play_video.png') %>"
      window.tripledot = "<%= image_url('tripledot.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
